*{
    box-sizing: border-box;
    
}

header{
    width: 100vw;
    height: 70vh;
    background-image: url('../img/fundo-inicial.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    
}

.header-inicial{
    display: grid;
    justify-content: left;
    height: 100%;
    align-items: end;
}

.ul-inicial{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    list-style: none;
    text-align: center;
}

.ul-inicial li{
    padding: 20px;
    margin: -20px 10px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}
.ul-inicial li:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.ul-inicial li a{
    text-decoration: none;
    color: aqua;
    font-weight: bold;
}

.tab-ativo{
    transform: scale(1.1);
    transition: 0.5s;
}