*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    width: 100vw;
    height: 70vh;
    background-image: url('../img/img-header/fundo-inicial.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.header-inicial {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.ul-inicial{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    list-style: none;
    width: 100vw;
}

.ul-inicial li{
    width: 160px;
    height: 60px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-inicial li:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.ul-inicial li a{
    text-decoration: none;
    color: aqua;
    font-weight: bold;
    
}
    

.form-style{
    width: 35vw;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: start;
    margin-left: 20px;
}

.form-style div input{
    width: 160px;
    height: 29px;
}

button{
    color: aqua;
    background-color: white;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    font-weight:bold;
}

header .login{
    color: whitesmoke;
    font-weight: bold;
    padding-left: 10px;
    cursor: pointer;
    display: grid;
    align-items: start;
}



.corpo-modal{
    height: 80vh;
}

